<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <p>Login</p>
        <form method="POST" action="{% url 'signin' %}">
            {% csrf_token %}
            <div>Username</div>
            <input type="text" name="username" id="username">
            <div>Password</div>
            <input type="password" name="password" id="password">
            <br>
            <button type="submit">Log In</button>
        </form>
        <a href="index">
            <button>Home</button>
        </a>
    </center>
</body>
</html>