<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <p>Migration Record Edit</p>
        <a href="index_in">
            <button>Admin Home</button>
        </a>
        <form method="POST" action="/mr_update/{{mrModel.mr_id}}">
            {% csrf_token %}
        <table border="1">
            <tr>
                <td>mr_id</td>
                <td><input type="number" name="mr_id" value="{{mrModel.mr_id}}" readonly></td>
            </tr>
            <tr>
                <td>source_id</td>
                <td><input type="number" name="source_id" value="{{mrModel.source_id}}" ></td>
            </tr>
            <tr>
                <td>destination_id</td>
                <td><input type="number" name="destination_id" value="{{mrModel.destination_id}}" ></td>
            </tr>
            <tr>
                <td>animal_id</td>
                <td><input type="number" name="animal_id" value="{{mrModel.animal_id}}" ></td>
            </tr>
            <tr>
                <td>animal_count</td>
                <td><input type="number" name="animal_count" value="{{mrModel.animal_count}}" ></td>
            </tr>
            <tr>
                <td>reason</td>
                <td><input type="text" name="reason" value="{{mrModel.reason}}" ></td>
            </tr>
            <tr>
                <td><input type="submit" value="update record"></td>
                <td>
                    {% if messages %}
                    {% for mess in messages %}
                    <b style="color: green">{{mess}}</b>
                    {% endfor %}
                    {% endif %}
                </td>
            </tr>
        </table>
        <a href="{% url 'mr_crud' %}">Back</a>
        </form>
    </center>
</body>
</html>