<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <p>Create Zoo</p>
        <a href="index_in">
            <button>Admin Home</button>
        </a>
        <form method="POST">
            {% csrf_token %}
            <table border="1">
                <tr>
                    <td>z_id</td>
                    <td><input type="number" placeholder="enter zoo id" name="z_id"></td>
                </tr>
                <tr>
                    <td>name</td>
                    <td><input type="text" placeholder="enter name" name="name"></td>
                </tr>
                <tr>
                    <td>s_id</td>
                    <td><input type="number" placeholder="enter s_id" name="s_id"></td>
                </tr>
                <tr>
                    <td>area_covered</td>
                    <td><input type="number" step="0.01" placeholder="enter area_covered" name="area_covered"></td>
                </tr>
                <tr>
                    <td><input type="submit" value="insert"></td>
                    <td>
                        {% if messages %}
                        {% for mess in messages %}
                        <b style="color: green">{{mess}}</b>
                        {% endfor %}
                        {% endif %}
                    </td>
                </tr>
            </table>
            <a href="z_crud"><div>Back</div></a>
        </form>
    </center>
</body>
</html>